/*---- home*/
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.dp {
     margin-right: 5%;
     width: 100%;
}

.section1 {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
}

.subsec1 {
    animation: slidein .75s linear 1;
    width: 15%;
    height: fit-content;
}

@keyframes slidein {
    0% {
      -webkit-transform: translateX(-400%);
    }
  
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slideleft {
    0% {
      -webkit-transform: translateX(200%);
    }
  
    100% {
      -webkit-transform: translateX(0%);
    }
  }

.logo {
    width: 15%;
    height: 15%;
}

.logo1 {
    margin-top: 10%;
    width: 20%;
    height: 20%;
}

.intro {
    margin-top: 10%;
    animation: slidein .75s linear 1;

    margin-left: 20%;
}

.whole {
    background-image: url("bg.jpg");
    background-size: cover;
    width: 100%;
    margin-left: 1%;
    animation: slideleft .75s linear 1;

}

.cont {

    display: inline-block;
}

.thing {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.thing1 {

    margin-right: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
}

.name {
    margin-left: 0%;
}

.type {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 5.5s steps(30, end),
        blinking-cursor.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes blinking-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: pink;
    }
}

.navs {
    margin-top: 30%;
}

.text {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.hiv2 {
    background-color: white;
    height: max-content;
    padding: 0%;
    width: 550px;
}


.hiv3 {
    background-color: white;
    height: max-content;
    padding: 0%;
    width: 550px;
    margin-top: 1%;

}

.des {
    margin-top: -1%;

}

.std5 {

    height: 5px;
    width: 35%;
    background-color: blue;
}

.std6 {

    height: 5px;
    width: 15%;
    background-color: blue;
}
.std66 {

    height: 12px;
    width: 6%;
    background-color: blue;
}




/*---- home*/
/*----about*/
.bb {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drag {
    padding-right: 10%;
}

.ddrag {
    padding-right: 25%;
}

.bout {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
   

}






/*----about*/

/*----services*/
.spa {
    text-decoration: none;
    font-size: medium;
}

.hiv1 {
    background-color: grey;
    height: max-content;
    padding: 0%;
    width: 550px;

}


.std {

    height: 10px;
    width: 95%;
    background-color: teal;
    height: 1vh;
}

.std2 {

    height: 10px;
    width: 70%;
    background-color: teal;
    height: 1vh;
}

.std3 {

    height: 10px;
    width: 80%;
    background-color: teal;
    height: 1vh;
}

.std4 {

    height: 10px;
    width: 85%;
    background-color: teal;
    height: 1vh;
}

.skills {
    display: flex;
    justify-content: space-between;
    

}

.age1 {
    padding-left: 95%;
    padding-top: -10%;


}


/*----services*/



/*----portfolio*/

.port {
    display: flex;
    justify-content: space-between;
    
   


}

.ll {
    width: 10%;
    height: 10vh;
}

.pic {
    width: 50%;
}

.bac {

    
    width: 15em;
    height: max-content;
    margin-left: 10%;
    
    
    

}
.bac2{

    
    width: 25%;
    height: max-content;
    margin-right: 0%;

}

.bac3{

    
    width: 25%;
    height: max-content;
    margin-right: 0%;

}




.pflg {
    width: 50%;


}

.pflg1 {
    width: 30%;

}

/*----portfolio*/


/*----contact*/


.contc{
    display: flex;
    margin-right: 15%;
    align-content: center;
}

.lst {
    border-style: solid;
    width: 20%;
    height: fit-content;
    border-radius: 50px;

}

.lst:hover {
    background-color: teal;
}
.logo3{
width: 10%;
margin-left: 20%;

}
.logo31{
    width: 11%;
    margin-top: 0%;
    margin-left: 45%;

}
.logo4{
    width: 40%;
    margin-left: -12%;
}
.logo5{
width: 50%;
margin-top: 10%;

}

.cs{
    margin-right: 1%;
}
.js{
    margin-right: 1%;
}





/*----contact*/

/*----mediaquerry*/


/*----mediaquerry*/
@media(max-width:600px){
    body {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        overflow-x: hidden;
    }
    .whole{
        background-image: url("bg.jpg");
        background-size: cover;
        width: 100%;
        margin-left: 22%;
        height: 72vh;
        overflow-x: hidden ;
    }
    .intro{
        font-size: small;
        margin-left: 15%;
    }
    .name{
        font-size: small;
    }
    .subsec1{
        width: 3%;
        margin-top: 0%;
    }
    .navs{
    font-size: smaller;
    margin-right: 5%;
    margin-top: 100%;
    width: 1.5em;

    }
    .na{
        font-size: small;
        margin-right: 5%;
    }
   .dp{
    width:  5em ;
    height: 15vh;
    margin-bottom: 100%;
    margin-left: 15%;


   }
   .na2{
    width: 3em;
    margin-left: 20%;
   
   }
   .logo{
    width: 40%;
   }
   .logo1{

    width: 100%;
    margin-left: 100%;
   }
   .think{    
    font-size: 1em;
    height: 15vh;
   }
   .bb{
    font-size: larger;
   }
    
  .des{
width: 50%;

  }
.bout{
width: 100%;



}
.drib{
 flex-wrap: wrap;
 display: block;
 width: 100%

}
.skills{
    flex-wrap: wrap;
    display: block;
    
}
.hiv1{
    width: 350px;
}
.age1{

    padding-left: 89%;
}
.port{
   
    justify-content: space-evenly;
    margin-left: -5%;
    margin-top: 5%;
    width: 35em;
}

.logo3{
width: 2em;
margin-left: -20%;

}
.logo31{
    width: 2em;
    margin-left:35%;


}
.logo4{
    width: 2em;
    margin-left: -8;
}
.logo5{
    width: 2em;
    margin-left: 50%;
}

.contc{
    display: flex;
    justify-content: space-evenly;
     margin-left: 10%;
}
.bac{
width: 10em;

}
.bac2{
    width: 15em;
}
.bac3{
    width: 30em;
    margin-top: -3%;
}


body{
    
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 0%;
    
    

}
.over{
width: 100%;
overflow-x: hidden;



}
.flow{
    width: 30%;
    overflow-x: hidden;
}

.ovvvvr{
    background-color: red;
}
.lo{
    background-color: red;
}
.std66 {
    height: 14px;
    width: 48%;
    background-color: blue;
}












}





